## Data Science Tools and Ecosystem 

In this notebook, Data Science Tools and Ecosystem are summarized.

##Author
S

**Objectives**
- Popular languages
- Tools
- Libraries

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Seaborn
2. Pandas
3. Numpy

|Data Science Tools |
| ------ |
| JupyterLab |
|VS code |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335